/* =========== Colours  ============= */
$light_purple:#C6CAED;
$blue: #4253FF;
$medium_blue: #3545ee;
$dark_blue: #273198;
$red: #c72626;

/* ===========  Fonts ===========  */
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
$montserrat: "Montserrat", sans-serif;
